.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}
.annie-use your telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {

    --background-color:#e9e8e8;
    --light-color: #AB9D00;
    --dark-color: #D08039;
    --medium-color: #AB1F00;
  }
  
  body {
    font-family: "League Spartan";
    font-optical-sizing: 2em;
    font-style: normal;
    background-color: var(--background-color);
    margin: 1em;
    font-size: 20px;
    color: var(--dark-color);
    line-height: 1.8;
      }      

  
  img {
    width: 80%;
    height: auto;
    padding-left: 1em;
  }
  
  h1 {
    font-size: 6em;
    font-weight: 400;
    font-family: "Annie Use Your Telescope";
    color: var(--light-color);
    line-height: 1; /* Increase the line spacing between paragraphs */
  }
  
  h2 {
    font-size: 2em;
    font-weight: 200;
    font-family: "Annie Use Your Telescope";
    color: var(--light-color)
  }
  
h3, h4 {
    font-weight: 600;
    font-family: "League Spartan";
  }
  
  .container {
    max-width: 1080px;
    margin: 0 auto
  }
  
  /* Masthead */
  masthead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
    color: var(--dark-color);
    margin-bottom: 1em;
  }
  
  masthead h1 {
    margin-right: auto;
    font-size: 3em;
    font-weight: 400;
    color: var(--medium-color);
    font-family: "League Spartan";
    margin: 0 auto 0 0;
  }
  
  masthead img {
    display: inline-block;
    align-self: center;
    width: auto;
    height: 2.5em;
    margin-right: .5em;
  }
  
  masthead ul {
    padding-inline-start: 0;
  }
  
  masthead li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  masthead a {
    text-decoration: none;
    color: var(--medium-color);
    transition: all 0.3s ease 0s;
    
  }
  
  masthead a:hover {
    color: var(--light-color);
  }
  
  /* main */


.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 0;
  padding: 2em;
}

.description {
  gap: 1em;
  margin-bottom: 0;
  padding: 2em;
}

.media {
  img {
    width: 100;
    height: auto;
    margin-top: 1em;
  }
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.tutorial-box-holder{
  margin-bottom: 0;
  padding: 4em;
}

.history-box {
  border-radius: 25px;
  background-color: var(--background-color);
  h2 {
    padding: 1em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #d6cc6d;
  }
  .chapter{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: em;
    margin-bottom: 0;
    padding: 2em;
  }
}
  
  /* media queries */
  @media only screen and (max-width: 768px) {
    
    body {
      font-size: 16px;
    }
  
    masthead {
      text-align: center;
      flex-flow: column nowrap;
    }
    masthead ul {
      margin-bottom: 0;
    }
    masthead h1 {
      margin-right: 0;
    }
    masthead img {
      margin-right: 0;
    }
  
    .section {
      padding: 1em;
      gap: 1em;
      grid-template-columns: 2fr;
    }
    .media {
      order: 1;
    }
    .description {
      order: 2;
    }
    
  }
